table {
  border: 2px solid black
  border-collapse:collapse;
  width: 50%;
}
th, td {
  border: 1px solid black;
  padding: 5px;
  text-align:center;
}
th{
  background-color: yellow;
}
h1{
  color: black;
  text-align: left;
}
h2{
  color: red;
  font-family: century;
  text-align: center;
}
