table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
  th, td {
    border: 1px solid black;
    padding: 5px;
    text-align:center;
  }
  th{
    background-color: yellow;

  }

h1{
  color: khaki;
  text-align: left;
}
h2{
  color: red;
  font-family: century;
  text-align: center;
}
#top {
  font-size: 36px;
  font-style:oblique;
  font-family: sans-serif;
}
.title {
  font-size:18px;
  font-weight: bold;
  color: "darkgray"
}

.empl_type {
  font-size:14px;
  font-style: italic;
  color: "gray"
}
class = ""
class = "work_loc"
class = "posn_dscrp"
class = "more_info"
